* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}
.footer-content {
  padding: 2rem;
  display: grid;
  background: #263849;
  grid-template-columns: repeat(5, 1fr);
}
p span {
  display: block;
}
.footer-title {
  font-size: 2.4rem;
  color: white;
}
.icons {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  color: rgb(138, 118, 8);
  font-size: 2.8rem;
}
.copyright,
.contctus-column {
  color: #ddd;
  font-size: 1.5rem;
}
.acount-column {
  color: white;
}


.acount-column a:hover,
.acount-column a:active {
  color: #ddd;
}
